name: Test

on:
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - README.md
      - LICENSE
      - "*.md"
      - .gitignore
  push:
    branches: [ "main" ]
    paths-ignore:
      - README.md
      - LICENSE
      - "*.md"
      - .gitignore
  workflow_dispatch:

concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Select Xcode 26
      run: sudo xcode-select -s /Applications/Xcode_26.0.app

    - name: Test
      run: swift test
